
.container {
  display: flex;
  background-color: orange;
  flex-grow: 1;
}

.outer {
  background-color: red;
  overflow: auto;
  align-items: center;
}

.inner {
  margin: auto;
  flex: 0 0 auto;
  & > div {
    background-color: green;
    margin-right: 10px;
    flex-shrink: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

/*the div for the information on the right side*/
#info-pane {
  background-color: blue;
  flex-shrink: 0;
}
