/*
.container {
  display: flex;
  background-color: orange;
  flex-grow: 1;
}

.outer {
  background-color: red;
  overflow: auto;
  flex-grow: 1;
  flex-direction: column;
}

.inner {
  margin: auto;
  & > div {
    background-color: green;
    margin-right: 10px;
    flex-shrink: 0;
    max-height: fit-content;
    &:last-child {
      margin-right: 0;
    }
  }
}

//the div for the information on the right side
#info-pane {
  background-color: blue;
  flex-shrink: 0;
}
*/