app-menu {
  position: fixed;
  top: 1pc;
  right: 1pc;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  & > app-servers-environment {
    display: flex;
    flex: 1 auto;
  }
}

.divider {
  width: 100%;
  height: 2px;
  background: white;
  flex: 0 auto;
}
